<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li>
      <%= link_to "Member's Blog", member_posts_path %>
    </li>
    <li>
      <%= link_to "Show us your Garden", new_member_post_path %>
    </li>
    <li>
      <%= link_to "Tool", tools_index_path %>
    </li>
  </ul>
</div>